body {
  margin: 0;
  padding: 0;
  background-color: #1e1e1e;
}

ul {
  margin: 8px;
  margin-left: -25px;
  font-family: "Bebas-Neue", sans-serif;
  font-size: 15pt;
  letter-spacing: 2px;
}

.topnav {
  background-color: #2d2d30;
  width: 100%;
  height: 6vmax;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.clock {
  padding: 20px;
  color: #aaaaaa;
  font-size: 3vmax;
  letter-spacing: 3px;
  font-family: Impact;
  display: block;
  width: 38.4px;
  font-family: "bebas-neue", sans-serif;
}

.img-menu {
  width: auto;
  height: 2vmax;
  padding: 20px;
  display: block;
}

.img-menu:hover {
  opacity: 0.5;
}

.img-logo {
  width: auto;
  height: 9vmax;
  margin: auto;
  padding: 5px;
  filter: drop-shadow(0 0 0.1rem #aaaaaa);
  display: block;
}

.parent-wrapper {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.truck-wrapper {
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.ambulance-wrapper {
  width: 25%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}
.engine,
.truck,
.rescue {
  width: calc(400px - 20px);
  height: calc(100% - 20px);
  background-color: #aaaaaa;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 10px;
}
.amb {
  width: calc(400px - 20px);
  height: calc(100% - 20px);
  background-color: #aaaaaa;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 10px;
}

select {
  width: calc(100%);
  background-color: #2d2d30;
  box-sizing: border-box;
  border-radius: 5px;
  text-decoration: none;
  font-family: "Bebas", sans-serif;
  font-size: 14pt;
  letter-spacing: 3px;
  color: #aaaaaa;
  padding: 8px;
  text-align: center;
}

option {
  color: #aaaaaa;
}

#scrolling-message {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  padding-top: 2px;
  white-space: nowrap;
  overflow: hidden;
  font-family: "Bebas", sans-serif;
  font-size: 14pt;
  letter-spacing: 3px;
}

.containerheader {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Carbondale", sans-serif;
  font-size: 40pt;
  letter-spacing: 3px;
  margin-top: 10px;
}

.dropdown-menu {
  max-width: 100%;
  font-size: 18pt;
  text-align: center;
  display: none;
  position: absolute;
  right: 10px;
  background-color: #f9f9f9;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  background-color: #aaaaaa;
  font-family: "Bebas", sans-serif;
  border-radius: 10px;
}
.dropdown-menu a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-menu a:hover {
  background-color: #8d8d8d;
  border-radius: 10px;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

@media (max-width: 768px) {
  .parent-wrapper {
    flex-direction: column;
  }

  .truck-wrapper,
  .ambulance-wrapper {
    width: 100%;
  }
}

@font-face {
  font-family: "Carbondale";
  src: url("/font/carbondale.woff2") format("woff2");
}

@font-face {
  font-family: "Bebas-Neue";
  src: url("/font/BebasNeue.woff2") format("woff2");
}

@font-face {
  font-family: "Bebas";
  src: url("/font/Bebas.woff2") format("woff2");
}
