body {
  margin: 0;
  padding: 0;
  background-color: #1e1e1e;
}
.img-menu {
  max-width: 50%;
  max-height: 50%;
  padding: 15px 16px;
  float: right;
 }
.topnav {
  background-color: #2d2d30;
  overflow: hidden;
  width: 100%;
  height: 65px;
}
.topnav:hover .img-menu{
  opacity: 0.5;
}
